accelerate==0.23.0
aiobotocore
aiofiles
aiohttp==3.8.1
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.2.0
annotated-types==0.6.0
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.7.2
astroid
astropy
asttokens==2.2.1
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall==0.2.0
bcrypt
beautifulsoup4==4.12.3
binaryornot
black
bleach
bokeh
botocore
Bottleneck
Brotli
certifi
cffi
chardet
charset-normalizer==2.1.1
click
cloudpickle
colorama
colorcet
comm==0.1.3
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
daal4py==2023.1.1
dask
datasets
datashader
debugpy==1.6.7
decorator==5.1.1
defusedxml
diff-match-patch
diffusers==0.27.2
dill
distlib==0.3.7
distributed
distro==1.9.0
Django==4.2.7
django-allauth==0.59.0
djangorestframework==3.14.0
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing==1.2.0
fastapi==0.109.2
fastjsonschema
ffmpy==0.3.2
filelock
flake8
Flask
fonttools==4.25.0
frozenlist
fsspec
ftfy==6.1.3
gensim
github==1.2.7
gmpy2
google==3.0.0
google-api-core==2.17.0
google-api-python-client==2.117.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
gpt4all==1.0.12
gradio==4.18.0
gradio_client==0.10.0
greenlet
h11==0.14.0
h5py
HeapDict
holoviews
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.20.3
hvplot
hyperlink
idna==3.6
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
importlib-resources==6.1.1
incremental
inflection==0.5.1
iniconfig
intake
intervaltree 
invisible-watermark==0.2.0
ipykernel==6.23.2
ipython==8.14.0
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi==0.18.2
jellyfish
Jinja2
jmespath
joblib
json5
jsonmerge==1.9.2
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keyring
kiwisolver
lazy-object-proxy
lazy_loader
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline==0.1.6
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
munkres==1.1.4
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio==1.5.6
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib==3.2.2
openai==0.28.0
opencv-python==4.8.1.78
openpyxl==3.0.10
orjson==3.9.13
packaging
pandas
pandocfilters
panel
param
paramiko
parsel
parso==0.8.3
partd
pathspec
patsy==0.5.3
pep8==1.7.1
pexpect
pickleshare==0.7.5
pillow
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit==3.0.38
Protego
protobuf==4.25.2
psutil
ptyprocess
pure-eval==0.2.2
py-cpuinfo
pyarrow
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle
pycparser
pyct
pycurl==7.45.2
pydantic==2.6.1
pydantic_core==2.16.2
PyDispatcher==2.0.5
pydocstyle
pydub==0.25.1
pyerfa
pyflakes
Pygments==2.15.1
PyJWT==2.8.0
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.9
python-slugify
python-snappy
python3-openid==3.2.0
pytoolconfig
pytz
pyviz-comms
pywavelets
pywin32==306
pywin32-ctypes
pywinpty
PyYAML
pyzmq==25.1.0
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy 
queuelib==1.5.0
referencing
regex
requests
requests-file
requests-oauthlib==1.3.1
responses
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9
Rtree
ruff==0.2.1
s3fs
safetensors==0.4.3
scikit-image
scikit-learn
scikit-learn-intelex==20230426.121158
scipy==1.11.4
Scrapy
seaborn
semantic-version==2.10.0
Send2Trash
service-identity
shellingham==1.5.4
sip
six==1.16.0
smart-open
sniffio
snowballstemmer
social-auth-app-django==5.4.0
social-auth-core==4.5.1
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse
stable-diffusion-pytorch==0.1.0
stack-data==0.6.2
starlette==0.36.3
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.19.1
toml
tomli
tomlkit==0.12.0
toolz
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tornado==6.3.2
tqdm
traitlets==5.9.0
transformers==4.40.2
Twisted
twisted-iocpsupport
typer==0.9.0
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
uritemplate==4.1.1
urllib3
uvicorn==0.27.1
virtualenv==20.24.6
virtualenvwrapper-win==1.2.7
w3lib
watchdog
wcwidth==0.2.13
webencodings==0.5.1
websocket-client
websockets==11.0.3
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xxhash
xyzservices
y-py
yapf
yarl
ypy-websocket
zict
zipp
zope.interface