{% load static %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>About Us</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">T2S<span>.</span></a>
            <ul class="menu-links">
                <li><a href="{% url 'about' %}">About</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}" class="navbar-item">{{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}" class="navbar-item">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="navbar-item">Login</a></li>
                <li><a href="{% url 'register' %}" class="navbar-item">Register</a></li>
                {% endif %}
                {% if user.is_staff %}
                <li><a href="{% url 'manage_users' %}">Manage Users</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section class="container main">
        <h2 class="anuphan">แนะนำตัว</h2>
        <p class="anuphan">ยินดีต้อนรับสู่เว็บไซต์สร้างสติ๊กเกอร์จากข้อความของผมนายนพดล ศรีมันตะ.
            โดยปัจจุบันนะครับสติกเกอร์มีประโยชน์หลายประการทั้งในการสื่อสารและแสดงออกทางอารมณ์ สื่อความคิด เสริมแบรนด์ และ สนับสนุนกิจกรรมทางการตลาด ซึ่งผู้ออกแบบสติกเกอร์นั้นจำเป็นต้องมีทักษะการออกแบบวาดภาพและคำนึงถึงปัจจัยที่สำคัญต่างๆ เช่น ขนาด รายละเอียด สี รูปแบบ ความหมาย รูปภาพและตัวหนังสือ ผู้ที่ต้องการใช้สติกเกอร์ส่วนใหญ่จึงขาดโอกาสที่จะได้ใช้สติ๊กเกอร์ที่มีคุณภาพ ผู้พัฒนาจึงพัฒนาเว็บแอปพลิเคชันการทำสติ๊กเกอร์โดยใช้เทคนิค text to image เพื่อช่วยในการสร้างสติ๊กเกอร์ โดยสามารถสร้างสติ๊กเกอร์ผ่านการที่ผู้ใช้งานป้อนคำสั่งต่างๆ ตามที่ต้องการ เเล้วคำสั่งนั้นจะสามารถสร้างรูปภาพสติ๊กเกอร์นั้นออกมาตามคำสั่งของผู้ใช้งาน เพื่อเป็นตัวอย่างการออกเเบบหรือต้องการสร้างสติ๊กเกอร์ของตัวผู้ใช้งานเองได้
            ซึ่งโครงงานนี้พัฒนาโดยมี Django Framework เป็นเฟรมเวิร์คที่ได้รับความนิยมสูงสุดของ Python ในส่วนของ Backend ใช้เป็น Stable Diffusion ในการใช้เทคนิค text to image โดย Stable Diffusion นั้นเป็นโมเดล ปัญญาประดิษฐ์ (AI) ประกอบภาพที่มีความสามารถในการประมวลผลภาพโดยใช้เทคโนโลยีทางปัญญาประดิษฐ์ ซึ่งโมเดลนี้จะใช้เทคนิคการกระจายเเละใช้พื้นที่เเฝง เพื่อช่วยลดการประมวลผลได้มากเเละสามารถใช้โมเดลบนเดสก์ท็อปเเละเเล็ปท็อปที่ติดตั้ง GPU ได้ ที่สามารถสนับสนุนต่อสภาพเเวดล้อมผู้พัฒนาที่มีจำกัดได้ ดังนั้นผมเลยได้สร้างเว็บไซต์นี้ขึ้นครับ</p>

        <h2 class="anuphan">เกี่ยวกับโมเดลทั้ง 4 โมเดล</h2>
        <h3 class="anuphan">1.Ojimi/anime-kawai-diffusion</h1>
        <p class="anuphan">โดยในเกณฑ์โมเดลตัวนี้ คือ มีรูปแบบโมเดลที่ตรงต่อคนที่ชอบ Anime (อนิเมะ) และตัวโมเดลเหมาะสมกับสภาพแวดล้อมของเครื่องอีกด้วย โดยที่การทำงานต่อการสร้าง คือ 111.31 วินาที ต่อ 1 ครั้ง จากการทดสอบประมวลผลทั้งหมด 10 ครั้ง เพื่อหาความเร็วในการประมวลผล.</p>
        <h3 class="anuphan">2.runwayml/stable-diffusion-v1-5</h1>
        <p class="anuphan">โดยในเกณฑ์โมเดลตัวนี้ คือ มีรูปแบบโมเดลที่มีการดาวน์โหลดมากที่สุดใน 10 อันดับแรก และตัวโมเดลเหมาะสมกับสภาพแวดล้อมของเครื่องอีกด้วย โดยที่การทำงานต่อการสร้าง คือ 114.04 วินาที ต่อ 1 ครั้ง จากการทดสอบประมวลผลทั้งหมด 10 ครั้ง เพื่อหาความเร็วในการประมวลผล.</p>
        <h3 class="anuphan">3.stabilityai/stable-diffusion-2</h1>
        <p class="anuphan">โดยในเกณฑ์โมเดลตัวนี้ คือ มีรูปแบบโมเดลที่มีการดาวน์โหลดมากที่สุดใน 10 อันดับแรก และตัวโมเดลเหมาะสมกับสภาพแวดล้อมของเครื่องอีกด้วย โดยที่การทำงานต่อการสร้าง คือ 186.90 วินาที ต่อ 1 ครั้ง จากการทดสอบประมวลผลทั้งหมด 10 ครั้ง เพื่อหาความเร็วในการประมวลผล.</p>
        <h3 class="anuphan">4.stabilityai/stable-diffusion-2-1-base</h1>
        <p class="anuphan">โดยในเกณฑ์โมเดลตัวนี้ คือ มีรูปแบบโมเดลที่มีการดาวน์โหลดมากที่สุดใน 10 อันดับแรก และตัวโมเดลเหมาะสมกับสภาพแวดล้อมของเครื่องอีกด้วย โดยที่การทำงานต่อการสร้าง คือ 111.40 วินาที ต่อ 1 ครั้ง จากการทดสอบประมวลผลทั้งหมด 10 ครั้ง เพื่อหาความเร็วในการประมวลผล.</p>
        
        <h2 class="anuphan">สรุป</h2>
        <p class="anuphan">วัตถุประสงค์ในการทำเว็บไซต์นี้เพื่อการเรีนยรู้ตัวโมเดลโดยที่ไม่หวังผลประโยชน์ต่อตัวเอง.</p>

        <h2 class="anuphan">Contact ติดต่อ</h2>
        <p class="anuphan">คุณสามารถติดต่อเราได้ที่ nobphadon.sr.64@ubu.ac.th, 066-065-1051.</p>
    </section>
</body>
</html>
