@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Font */
.anuphan {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
/* Font */

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: transparent;
}
header .navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .logo span {
    color: plum;
}
.navbar .menu-links {
    display: flex;
    gap: 30px;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar a:hover {
    color: plum;
}
ul {
    list-style-type: none;
}  
/* NAVBAR */

/* BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    background: url("https://firebasestorage.googleapis.com/v0/b/imagesss-7501d.appspot.com/o/1308898.jpg?alt=media&token=702b0d44-047d-41b3-a60a-bcfa2772acfc");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; /* Adjust this value if necessary to account for fixed header */
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
h2 {
    color: #ffffff;
    margin-bottom: 20px;
}
.table-container {
    width: 90%;
    overflow-x: auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
thead {
    background: #f2f2f2;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background: #f4f4f4;
    font-weight: bold;
}
tbody tr:nth-child(even) {
    background: #f9f9f9;
}
tbody tr:hover {
    background: #f1f1f1;
}
button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #ff1a1a;
}
/* BODY */
